!!!5
html
	head
		meta(charset='UTF-8')
		title Social stats UI kit
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="assets/kit.css")
		link(rel="stylesheet", href="css-assets/font/stylesheet.css", type="text/css", charset="utf-8")
	body
		include icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-grey1-bg-g
					.color-sample-ke.c-grey2-bg-g
					.color-sample-ke.c-grey3-bg-g
					.color-sample-ke.c-grey4-bg-g
					.color-sample-ke.c-grey5-bg-g
					.color-sample-ke.c-grey6-bg-g
					.color-sample-ke.c-grey7-bg-g
					.color-sample-ke.c-grey8-bg-g
					.color-sample-ke.c-grey9-bg-g
					.color-sample-ke.c-grey10-bg-g

				.cf
					.color-sample-ke.c-red-bg-g
					.color-sample-ke.c-orange1-bg-g
					.color-sample-ke.c-orange2-bg-g
					.color-sample-ke.c-bg-bg-g

			- var data = {}

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e 7a570084fcf17dfd19f27128300c8648
						//- - var data = { path: 'old-pen-icon' }
						//- include partials/icon

			.section-kl
				.header-ke Elements
				.hash-e b69a1e4a33a526ed9af2af493cfb4cb1
				





					




				










