html,
body {
  padding: 0;
  margin: 0;
}
.page {
  background: #ff1493;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.page__inner {
  overflow: hidden;
  position: absolute;
  width: 12.5em;
  height: 12.5em;
  background: #ffa500;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page__inner.is-scaled {
  -webkit-transform: scale(20);
  -ms-transform: scale(20);
  transform: scale(20);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.page__inner.is-scaled .page__inner__inner {
  -webkit-transform: scale(0.05);
  -ms-transform: scale(0.05);
  transform: scale(0.05);
}
.page__inner__inner {
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
