@import 'assets/imports.styl'
// @import 'css-assets/normalize.styl'

// @import 'css-assets/general'
// @import 'css-assets/blocks'
// @import 'css-assets/layouts'
// @import 'css-assets/effects'
// @import 'css-assets/icons'

use('assets/nesting-tree-traversal.js')

html, body
  padding 0
  margin 0
gap = 100px
.page
  background deeppink
  width 100%
  height 100%
  position absolute
  // nw 0
  overflow hidden
  startSize = 4px
  &__inner
    clip rect(0,3px,3px,0)
    // overflow hidden
    position absolute
    width startSize
    height startSize
    nw 0
    // top 0
    background orange
    border-radius 50%
    scale = 40
    backface-visibility hidden
    // opacity 0
    // &.is-scaled
    //   transform scale(scale)
    //   // transition all 1s linear
    //   .page__inner__inner
    //     transform scale(1/scale)
    &__inner
      width startSize
      height startSize
      // margin-left 1px
      // margin-top 1px
      backface-visibility hidden
      // transition all 1s linear
      // transform-origin center top
      &__inner
        padding 450px 640px
        // margin-left -640px
        position relative
    //     // background purple
.content
  position absolute
  nw 0
  se 0
  // min-width 1280px
  // min-height 900px
  background purple
  // margin-left -640px
  // margin-top  -450px
  position absolute

// // chrome:
//   position absolute
//   overflow hidden
//   rect 140px

// // safari:
//   overflow hidden
//   rect 140px

// .div-wrapper
//   position absolute
//   overflow hidden
//   rect 140px
// .div
//   position absolute
// svg
//   hl hotpink
  
// body
//   height 600px

// iframe
//   display none !important
// canvas
//   hl orange

// .container
//   width  800px
//   height 800px
//   border 1px solid hotpink
//   position relative

// .el
//   // border 1px solid deeppink
//   background hotpink
//   border-radius 50%
//   size = 5*gs
//   rect size
//   margin-left -(size/2)
//   position absolute
//   nw 0
//   // backface-visibility hidden
//   // transform translateZ(0)
