html,
body {
  padding: 0;
  margin: 0;
}
.page {
  background: #ff1493;
  width: 100%;
  height: 100%;
  position: absolute;
}
.page__inner {
  overflow: hidden;
  position: absolute;
  width: 12.5em;
  height: 12.5em;
  top: 50%;
  left: 50%;
  top: 0;
  background: #ffa500;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page__inner.is-scaled {
  -webkit-transform: scale(40);
  -ms-transform: scale(40);
  transform: scale(40);
}
.page__inner.is-scaled .page__inner__inner {
  -webkit-transform: scale(0.025);
  -ms-transform: scale(0.025);
  transform: scale(0.025);
}
.page__inner__inner {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}
