@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

use('assets/nesting-tree-traversal.js')

// canvas
//   hl orange

.container
  width  200px
  height 200px
  border 1px solid hotpink
  position relative

.el
  // border 1px solid deeppink
  background hotpink
  border-radius 50%
  rect gs
  margin-left -(gs/2)
  position absolute
  nw 0
  // backface-visibility hidden
  // transform translateZ(0)
