

stepSize = 10
c-grey1 = #232323

c-grey2 = lighten(c-grey1, stepSize)
c-grey2-hover = lighten(c-grey2, 5)

c-grey3 = lighten(c-grey2, stepSize)
c-grey3-hover = lighten(c-grey3, 5)

c-grey4 = lighten(c-grey3, stepSize)
c-grey4-hover = lighten(c-grey4, 5)

c-grey5 = lighten(c-grey4, stepSize)
c-grey5-hover = lighten(c-grey5, 5)

c-grey6 = lighten(c-grey5, stepSize)
c-grey6-hover = lighten(c-grey6, 5)

c-grey7 = lighten(c-grey6, stepSize)
c-grey7-hover = lighten(c-grey7, 5)

c-grey8 = lighten(c-grey7, stepSize)
c-grey8-hover = lighten(c-grey8, 5)

c-grey9 = lighten(c-grey8, stepSize)
c-grey9-hover = lighten(c-grey9, 5)

c-grey10 = lighten(c-grey9, stepSize)
c-grey10-hover = lighten(c-grey10, 5)







