// KIT
@import '../assets/imports.styl'

body
	margin-bottom 20*gs
	background c-bg

.hash-e
	font-size 16px
	color c-grey4
	margin-bottom gs
	margin-top 2*gs
	max-width 100%
	padding gs 0 
	textel()
	width 8*gs

.icon-sample-kl
	float left
	margin 2*gs

.main-kl
	max-width 100*gs
	margin 0 auto
	padding 4*gs 0

.section-kl
	// background #ccc
	+ .section-kl
		margin-top 8*gs

.header-ke
	font-size 26px
	padding 2*gs 0
	color c-grey1

.color-sample-ke
	rect 4*gs
	margin gs
	float left

