doctype
html
  head
    meta(charset='UTF-8')
    title CharitesJS
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body

    canvas#js-canvas

    script(src="bower_components/tweenjs/build/tween.min.js")
    script(src="dist/charites.js")


    



