doctype
html
  head
    meta(charset='UTF-8')
    title CharitesJS
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body

    //- canvas(style="border:1px solid deeppink;")#js-canvas

    script(src="dist/charites.js")


    



