doctype
html
  head
    meta(charset='UTF-8')
    title mo · js
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- meta(name="viewport", content="width=device-width, user-scalable=no")
  
  body
    .el#js-el1
    //- .el#js-el2
    //- .el#js-el3

    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js")
    script(src="build/mo.js")
    //- script(src="js/main.js")


    



