doctype
html
  head
    meta(charset='UTF-8')
    title mo · js
    link(rel="stylesheet", type="text/css", href="css/main.css")
    meta(name="viewport", content="width=device-width, user-scalable=no")
  
  body
    //- input(type="range", min="0", max="100000", value="100000")#js-slider

    //- svg(width='500px', height='250px', viewbox='0 0 500 250', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink').svg-path#js-svg
    //-   path#js-path1(d='M0.55859375,164.449219 L39.8046875,12.4257812 L136.691406,166.269531 L221.34375,2.3984375 L306.511719,164.144531 L378.007812,2.05078125 L456.144531,157.15625', stroke1='#979797', fill="none")
    //-   path#js-path2(d='M0.55859375,164.449219 L39.8046875,12.4257812 L136.691406,166.269531 L221.34375,2.3984375 L306.511719,164.144531 L378.007812,2.05078125 L456.144531,157.15625', stroke1='#979797', fill="none")
    //-   path#js-path3(d='M0.55859375,164.449219 L39.8046875,12.4257812 L136.691406,166.269531 L221.34375,2.3984375 L306.511719,164.144531 L378.007812,2.05078125 L456.144531,157.15625', stroke1='#979797', fill="none")
    //- div(style='position: absolute; top: 300px; left: 300px; width: 82px; height: 82px; margin-left: -41px; margin-top: -41px; backface-visibility: hidden; -webkit-backface-visibility: hidden; opacity: 1; display: block; transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px);')
      svg(style='position: absolute; width: 100%; height: 100%;')
        ellipse(id="js-ellipse", transform='rotate(0,41,41)', fill-opacity='transparent', stroke-linecap='', stroke-dashoffset='', fill='deeppink', stroke-dasharray='', stroke-opacity='1', stroke-width='1', stroke='deeppink', cy='41', cx='41', ry='32.8', rx='20')


    //- - for(var i = 0; i < 1; i++)
    //-   svg(viewBox="0 0 1000 20").svg
    //-     path(d="M0,10 L1000,10", stroke="deeppink", stroke-dasharray="1000", stroke-dashoffset="1000")#js-line

    //- .page#js-page
      .page__inner#js-eye
        .page__inner__inner#js-pupil
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
          div lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line lineline line line lineline line line line line line line lineline line line line line line linelineline line
              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- button.btn.btn-default(type='button') Default
              //- button.btn.btn-primary(type='button') Primary
              //- button.btn.btn-success(type='button') Success
              //- button.btn.btn-info(type='button') Info
              //- button.btn.btn-warning(type='button') Warning
              //- button.btn.btn-danger(type='button') Danger
              //- button.btn.btn-link(type='button') Link
              //- .row.show-grid
              //-   .col-xs-6 .col-xs-6
              //-   .col-xs-6 .col-xs-6
              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- img.img-rounded(src='...', alt='...')
              //- img.img-circle(src='...', alt='...')
              //- img.img-thumbnail(src='...', alt='...')


              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6 .col-xs-6
              //-   .col-xs-6 .col-xs-6

              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6 .col-xs-6
              //-   .col-xs-6 .col-xs-6

              //- img.img-rounded(src='...', alt='...')
              //- img.img-circle(src='...', alt='...')
              //- img.img-thumbnail(src='...', alt='...')

              //- button.btn.btn-default(type='button') Default
              //- button.btn.btn-primary(type='button') Primary
              //- button.btn.btn-success(type='button') Success
              //- button.btn.btn-info(type='button') Info
              //- button.btn.btn-warning(type='button') Warning
              //- button.btn.btn-danger(type='button') Danger
              //- button.btn.btn-link(type='button') Link

              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6 .col-xs-6
              //-   .col-xs-6 .col-xs-6

              //- img.img-rounded(src='...', alt='...')
              //- img.img-circle(src='...', alt='...')
              //- img.img-thumbnail(src='...', alt='...')

              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6 .col-xs-6
              //-   .col-xs-6 .col-xs-6
              
              //- button.btn.btn-default(type='button') Default
              //- button.btn.btn-primary(type='button') Primary
              //- button.btn.btn-success(type='button') Success
              //- button.btn.btn-info(type='button') Info
              //- button.btn.btn-warning(type='button') Warning
              //- button.btn.btn-danger(type='button') Danger
              //- button.btn.btn-link(type='button') Link
              //- .row.show-grid
              //-   .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //-   .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              //- .row.show-grid
              //-   .col-xs-6 .col-xs-6
              //-   .col-xs-6 .col-xs-6
    //- .div-wrapper
    //-   #js-div.div
    //- svg(viewBox="0 0 200 200", width="200", height="200")#js-svg

    //- #js-wrapper
    //- canvas(style="border:1px solid deeppink;")#js-canvas
    //- .container#js-container
    //-   .el#js-el
    //-     div
    //- svg(style="display:none")
    //-   path(id="js-svg-path" d="M0.55859375,593.527344 C0.55859375,593.527344 -37.2335443,231.85498 148.347656,187.753906 C333.928857,143.652832 762.699219,412.414062 762.699219,412.414062 L1132.85547,1.15625")

    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js")
    script(src="build/mo.js")
    //- script(src="js/main.js")


    



