// ICONS
@import '../assets/imports.styl'

.icon
	rect 4*gs
	fill c-grey5
	display block
	position relative

	&:after
		content: ''
		rect 100%
		position absolute
		nw 0

	svg
		float left
		rect 100%

	&.is-hoverable
		&:hover
			fill c-grey4
			cursor pointer
